# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

name: "Static Analysis by PHPStan"

on:
    pull_request:
    push:
        branches:
            - "master"
            - "renovate/*"

jobs:
    static-analysis-phpstan:
        name: "Static Analysis by PHPStan"

        runs-on: ${{ matrix.operating-system }}

        strategy:
            matrix:
                dependencies:
                    - "locked"
                php-version:
                    - "8.1"
                operating-system:
                    - "ubuntu-latest"

        steps:
            - name: "Checkout"
              uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4

            - name: "Install PHP"
              uses: "shivammathur/setup-php@2.30.3"
              with:
                  coverage: "pcov"
                  php-version: "${{ matrix.php-version }}"
                  ini-values: memory_limit=-1

            - uses: ramsey/composer-install@3.0.0
              with:
                dependency-versions: ${{ matrix.dependencies }}

            - name: "PHPStan"
              run: "vendor/bin/phpstan analyse"
